streamlit
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.53
langchain-groq==0.1.5
langchain-text-splitters==0.0.2

faiss-cpu
sentence-transformers
pypdf
huggingface_hub

torch
torchvision